html {
  min-width: 1000px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  width: 920px;
}

/**
 * Help pop-up
 */
.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
}

.overlay_content {
    display: none;
    position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 75%;
    z-index:1002;
    overflow: auto;
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 1em auto 4em auto;
    width: 500px;
    padding: 10px;
    border: 1px #ccc solid;
}

#close_help{
    position:fixed;
    margin-left:475px;
    margin-top: -10px;
    background:white;
    padding:4px;
    border: 1px steelblue solid;
}

/**
 * Main
 */
#body {
  position: relative;
}

#helpsectiontitle {
  margin-bottom: 3px;
}

#examplelogs {
  font-size: 15px;
  font-weight: 350;
  margin-top: 0px;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

#body > p, li > p {
  line-height: 1.5em;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.time {
  stroke: #999;
  stroke-opacity: .6;
  fill: #999;
  fill-opacity: .6;
}

#curNode {
  color: steelblue;
  background-color: #fff;
}

#logField {
  width: 920px;
  height: 200px;
  font-family: monospace;
}

#sideBar {
  width: 40px;
  float: left;
}

#vizContainer {
  width: 760px; 
  float: left;
}

#hostBar {
  width: 760px;
  float: left;
}

#hosts {
  width: 120px;
  float: left;
}

#topBar {
  width: 920px;
  position: relative;
  background-color: white;
}

.node text {
  stroke: black;
}
