<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

 <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>main</welcome-file>
  </welcome-file-list>

  <!-- Main entry point into the Synoptic web application. -->
  <servlet>
    <servlet-name>GwtHostingServlet</servlet-name>
    <servlet-class>synopticgwt.server.GwtHostingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>GwtHostingServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <!-- Remotely-accessible synoptic service. -->
   <servlet>
    <servlet-name>SynopticService</servlet-name>
    <servlet-class>synopticgwt.server.SynopticService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SynopticService</servlet-name>
    <url-pattern>/synopticgwt/synoptic</url-pattern>
  </servlet-mapping>

  <!--  Servlet for saving uploaded log text file to server disk -->
  <servlet>
    <servlet-name>LogFileUploadServlet</servlet-name>
    <servlet-class>synopticgwt.server.LogFileUploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogFileUploadServlet</servlet-name>
    <url-pattern>/synopticgwt/log_file_upload</url-pattern>
  </servlet-mapping>

</web-app>
